# Folders
/bin
/dist
/examples
/lib
/node_modules
/src
/target
/.github

# Files
/scripts/bin.js
/.gitignore
/Cargo.lock
/Cargo.toml
/pnpm-lock.yaml
/README.md
/tsconfig.json
/webpack.config.js

/**/.DS_STORE
